{% extends layout %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center flex-column content">
    {% include('layouts/inc/alert.twig') %}
      <h4 class="text-center custom__title">Graff CMS</h4>
      {{ form_open('Login/check', 'post', '', 'my__form') }}
      <label>
        <i class="fa fa-user"></i>
        {{ input({name: 'name', placeholder: 'Podaj login'}) }}
      </label>
      <label>
        <i class="fa fa-lock"></i>
        {{ input({name: 'password', type: 'password', placeholder: 'Podaj hasło'}) }}
      </label>
      {{ csrf() }}
      {{ form_submit('', 'Zaloguj') }}
      {{ form_close() }}
  </div>
{% endblock %}
