{% extends layout %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <form method="post" class="box d-flex flex-column" data-action="appearance/store">
        <h3 class="text-center">Kolorystyka</h3>
        <div class="d-flex flex-column">
          {{ input({
            type: 'color',
            name: 'maincolor',
            value: maincolor,
            label: 'Kolor główny'
          }) }}

          {{ input({
            type: 'color',
            name: 'headercolor',
            value: headercolor,
            label: 'Kolor menu'
          }) }}

          {{ input({
            type: 'color',
            name: 'footercolor',
            value: footercolor,
            label: 'Kolor stopki'
          }) }}

          {{ input({
            type: 'color',
            name: 'bgcolor',
            value: bgcolor,
            label: 'Kolor tła'
          }) }}

          {{ input({
            type: 'color',
            name: 'textcolor',
            value: textcolor,
            label: 'Kolor tekstu'
          }) }}
        </div>
        <input type="submit" value="Zapisz">
      </form>
    </div>
    <div class="col-md-9">
      <iframe src="{{ base() }}" frameborder="0"></iframe>
    </div>
  </div>

{% endblock %}
