{% extends layout %}

{% block content %}
  <div class="card card-body">
    <form action="{{ url }}Clients/{{ id ? 'update' : 'save' }}" method="post">
      <input
       class="form-control my-2"
       type="text" name="name"
       placeholder="name"
       value="{{ name }}">
      <input
       class="form-control my-2"
       type="text" name="www"
       placeholder="www"
       value="{{ www }}">
      <h3 class="text-center">FTP</h3>
      server <input
       class="form-control my-2"
       type="text"
       name="ftp_server"
       placeholder="ftp_server"
       value="{{ ftp_server }}">
      user <input
       class="form-control my-2"
       type="text"
       placeholder="ftp_user"
       name="ftp_user"
      value="{{ ftp_user }}">
      password <input
       class="form-control my-2"
       type="text"
       placeholder="ftp_password"
       name="ftp_password"
       value="{{ ftp_password }}">
      <h3 class="text-center">Database</h3>
      link <input
       class="form-control my-2"
       type="text"
       placeholder="db_link"
       name="db_link"
       value="{{ db_link }}">
      user <input
       class="form-control my-2"
       type="text"
       placeholder="db_user"
       name="db_user"
       value="{{ db_user }}">
      password <input
       class="form-control my-2"
       type="text"
       placeholder="db_password"
       name="db_password"
       value="{{ db_password }}">
      name <input
       class="form-control my-2"
       type="text"
       placeholder="db_name"
       name="db_name"
       value="{{ db_name }}">
       Notes<textarea
       class="form-control"
       name="notes"
       cols="30"
       rows="10">{{ notes }}</textarea>
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Zapisz">
    </form>
  </div>
{% endblock %}
