{% extends layout %}
  {% import 'components/button.twig' as button %}
  {% import 'components/headline.twig' as headline %}
  {% import 'components/pagination.twig' as pagination %}
{% block content %}
<div class="box">
  {{ headline.title({
    text: 'Lista klientów',
    subtext: 'Eluwina'
  }) }}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>city</td>
        <td>street</td>
        <td>phone</td>
        <td>email</td>
        <td class="position-sticky">
          {{ button.render({url:'/clients/add', ico: 'fa-plus', el: 'modal', type: 'success'}) }}
        </td>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.www }}</td>
          <td>{{ user.ftp_server }}</td>
          <td>{{ user.ftp_user }}</td>
          <td>{{ user.db_user }}</td>
          <td class="position-sticky">
            {{ button.link({url:'/clients/show/'~user.id, ico: 'fa-edit', tip: 'haloo'}) }}
            &nbsp;
            {{ button.link({url:'/clients/details/'~user.id, ico: 'fa-eye'}) }}
            &nbsp;
            {{ button.link({url:'/clients/details/'~user.id, ico: 'fa-trash', type: 'danger'}) }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
  {{ pagination.list(pagination) }}
{% endblock %}
