{% extends layout %}
  {% import 'components/button.twig' as button %}

{% block content %}
<div class="box">
  <h3>Dodaj klienta mordo</h3>
  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>city</td>
        <td>street</td>
        <td>phone</td>
        <td>email</td>
        <td class="position-sticky"></td>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.street }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.mail }}</td>
          <td class="position-sticky">
            {{ button.link({url:'/test/'~user.mail, text: 'edytuj', class: 'btn-primary'}) }}
            &nbsp;
            {{ button.render({url:'/test', text: 'render', el: 'test', class: 'btn-outline-secondary'}) }}
            &nbsp;
            {{ button.link({url:'/test', text: 'zapisz', class: 'btn-outline-success'}) }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
