{% extends layout %}

{% block content %}
  <div class="card card-body">
    <h3 class="text-center mb-3">Klienci</h3>
    <div id="table__container">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">www</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
          <tr>
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.name }}</td>
            <td><a href="{{ client.www }}" target="_blank">{{ client.www }}</a></td>
            <td>
              <a href="{{ url }}clients/show/{{ client.id }}"> Edycja </a>
              <a class="text-muted" href="{{ url }}clients/delete/{{ client.id }}"> Usuń </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
