{% extends layout %}
  {% import 'components/form.twig' as form %}
  {% import 'components/button.twig' as button %}
{% block content %}

  <div class="box">
    <h3>Welcome in dashboard</h3>
    <form data-action="dash/upload">
      <div class="form__grid">
        {{ form.input({name: 'user[name]', value: value}) }}
        {{ form.select({name: 'user[info]', type: 'file', data:users, url:'users', label: 'label testowy'}) }}
        {{ form.input({name: 'file', type: 'file', label: 'test'}) }}
        {{ form.input({
          type: 'submit',
          value: 'Zapisz',
          class: 'mt-3'
        }) }}
      </div>
      {{ form.csrf() }}
    </form>
{#    <img src="{{ img(img.file) }}" alt="">#}
  </div>

{% endblock %}
