{% extends layout %}

{% block content %}
<div class="box">
  <h3>Welcome in dashboard</h3>
  <button class="render" data-url="dash/modal" data-el="modal">Modal</button>
  <button class="render" data-url="dash/modal" data-el="cycuszki">Component</button>
  <div data-component="cycuszki"></div>
  {{ select({
    name: 'user',
    url: 'dupa/jasiu',
    label: 'Wybierz pracownika'
  }) }}
  <form data-action="dash/upload">
   <div class="form__grid">
     {{ input({
       type: 'file',
       name: 'file'
     }) }}
     {{ input({
       class: 'form-control',
       type: 'text',
       name: 'user[name]'
     }) }}
     {{ input({
       class: 'form-control',
       type: 'text',
       name: 'user[surname]'
     }) }}
     {{ input({
       type: 'submit'
     }) }}
   </div>
  </form>
</div>
{% endblock %}
