{% extends layout %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h3>Konfiguracja Seo</h3>
      {{ print(session) }}
      <form action="{{ url }}Seo/save" method="post">
        <div class="row">
          <div class="col-3">
            <label for="">
              <input type="text" name="Seo[test]" class="form-control" value="{{ test }}">
              <input type="text" name="Seo[dupa]" class="form-control" value="{{ dupa }}">
            </label>
            {{ csrf() }}
            <input type="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
