<!DOCTYPE html>
<html lang="pl">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
  <base href="{{ base() }}">
  <title>{{ page.title }}</title>
    {{ css|raw }}
  <script>
    document.url = '{{ url() }}';
  </script>
</head>
<body>
{% include 'layouts/inc/preloader.twig' %}

<nav class="navbar navbar-expand-lg top__nav justify-content-between">
  <a href="{{ base('dash') }}" class="logo">DASHBOARD</a>

  <div class="d-flex align-items-center">
    <a href="#"><i class="fa fa-bars"></i></a>
    <a href="#" {{ tooltip('add') }} ><i class="fa fa-plus"></i></a>
    <a href="#" {{ tooltip('profile') }}><i data-menu="toggle" data-target="#menu" class="fa fa-user"></i></a>

    <div class="box__menu flex-column d-none" id="menu">
      <div class="render" data-url="password" data-el="modal">Resetuj hasło</div>
      <a href="{{ url('profile') }}">Mój profil</a>
    </div>

    <a href="{{ url('logout') }}" {{ tooltip('logout') }}> <i class="fa fa-power-off"></i> </a>

  </div>
</nav>

<section class="grid">

  <aside class="left-panel d-flex">
    <a href="{{ url() }}"> <i class="fa fa-plane"></i> Dupa</a>

    <a href="#" class="has__parent"> <i class="fa fa-paint-brush"></i> Strona</a>
    <div class="parent">
      <a href="{{ url('appearance/colors') }}">Kolory</a>
      <a href="{{ url('appearance/seo') }}">Seo</a>
    </div>

    <a href="#" class="has__parent"> <i class="fa fa-lock"></i> Klienci</a>
    <div class="parent">
      <a href="{{ url('clients/add') }}">nowy</a>
      <a href="{{ url('clients') }}">Lista</a>
    </div>

  </aside>

  <main class="right-panel">
    {% block content %}
    {% endblock %}
  </main>
</section>

{% include 'components/modal.twig' %}
<script type="module" src="public/js/components/main.js"></script>
{{ js|raw }}
</body>
</html>
