<!doctype html>
<html lang="pl">
<head>
  <meta http-equiv="Content-Language" content="pl">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="index,follow,all">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Graff PHP">
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
  <title>{{ page.title }}</title>
  {{ css|raw }}
  {% if styles is iterable %}
    <style>
      :root{
      {% for key,style in styles %}
        --{{ key }}: {{ style }};
      {% endfor %}
      }
    </style>
  {% endif %}
  <script>
    document.url = '{{ url() }}';
  </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="{{ base() }}">Graff PHP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <a class="btn btn-outline-secondary" href="{{ url('/admin') }}">Admin panel</a>
  </div>
</div>
</nav>
{% include('layouts/inc/alert.twig') %}

<main id="main-page-wrapper" class="container justify-content-center align-items-center d-flex flex-column">
  {% block content %}
  {% endblock %}
</main>

<div id="modal" class="modal"></div>
<footer class="py-2">
  <div class="container">
    <p class="m-0">&copy; Graff PHP {{ "now"|date('Y') }}</p>
  </div>
</footer>
{{ js|raw }}
</body>
</html>
