{% macro link(data) %}
  <a class="btn {{ data.class }}" href="{{ url(data.url) }}">
    {% if data.text %}
      {{ data.text }}
    {% endif %}
    {% if data.ico %}
      <i class="fa {{ data.ico }}"></i>
    {% endif %}
  </a>
{% endmacro link %}

{% macro render(data) %}
  {% if data.url and data.el %}
    <button class="btn render {{ data.class }}" data-url="{{ data.url }}" data-el="{{ data.el }}">
      {% if data.text %}
        {{ data.text }}
      {% endif %}
      {% if data.ico %}
        <i class="fa {{ data.ico }}"></i>
      {% endif %}
    </button>
  {% endif %}
{% endmacro render %}
