{% macro link(data) %}
  <a class="btn {{ data.class }}" href="{{ url(data.url) }}">
    {% if data.text %}
      {{ data.text }}
    {% endif %}
    {% if data.ico %}
      <i class="fa {{ data.ico }}"></i>
    {% endif %}
  </a>
{% endmacro link %}

{% macro render(data) %}
  {% if data.url and data.el %}
    <button class="btn render {{ data.class }}" data-url="{{ data.url }}" data-el="{{ data.el }}">
      {% if data.text %}
        {{ data.text }}
      {% endif %}
      {% if data.ico %}
        <i class="fa {{ data.ico }}"></i>
      {% endif %}
    </button>
  {% endif %}
{% endmacro render %}

{% macro action(data) %}
  {% if data.url %}
    <button class="action {{ data.class }}" {{ data.attr }} data-csrf="{{ csrf(data.csrf) }}" data-url="{{ data.url }}" data-options="{{ options(data.options) }}">
      {% if data.text %}
        {{ data.text|raw }}
      {% endif %}
      {% if data.ico %}
        <i class="fa {{ data.ico }}"></i>
      {% endif %}
    </button>
  {% endif %}
{% endmacro action %}

{% macro confirm(data) %}
  {% if data.url %}
    <span class="confirm {{ data.class }}"
          data-title="{{ data.title }}"
          data-body="{{ data.body }}"
          data-url="{{ data.url }}"
          data-options="{{ options(data.options) }}"
          data-csrf="{{ csrf(data.csrf) }}">
        {{ data.text }}
  </span>
  {% endif %}
{% endmacro confirm %}
